<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="com.tedu.cloudnote.dao.NoteBookDao">
 	<select id="findByUserId"
		parameterType="string" 
		resultType="com.tedu.cloudnote.entity.NoteBook">
		SELECT  
		cn_notebook_id,
		cn_user_id,
		cn_notebook_type_id,
		cn_notebook_name,
		cn_notebook_desc,
		cn_notebook_createtime 
		FROM cn_notebook
		WHERE
		cn_user_id=#{cn_user_id}
	</select>
	<insert id="addNoteBook"
		parameterType="com.tedu.cloudnote.entity.NoteBook">
		INSERT INTO  cn_notebook(
			cn_notebook_id,
			cn_user_id,
			cn_notebook_type_id,
			cn_notebook_name,
			cn_notebook_desc,
			cn_notebook_createtime) VALUES (
			#{cn_notebook_id},
			#{cn_user_id},
			#{cn_notebook_type_id},
			#{cn_notebook_name},
			#{cn_notebook_desc},
			#{cn_notebook_createtime}
				) 
	</insert>
	
 </mapper>