<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="com.tedu.cloudnote.dao.ShareNoteDao">
 	<insert id="saveNote"
 		parameterType="com.tedu.cloudnote.entity.ShareNote" >
 	INSERT INTO  cn_share(
	cn_share_id,
	cn_share_title,
	cn_share_body,
	cn_note_id) VALUES (
	#{cn_share_id},
	#{cn_share_title},
	#{cn_share_body},
	#{cn_note_id}
	) 
 	</insert>
 	<!-- 搜索分享笔记 -->
 	<select id="searchNote" 
 		parameterType="string"
 		resultType="com.tedu.cloudnote.entity.ShareNote">
 		SELECT * FROM cn_share WHERE cn_share_title like #{inValue}
 	</select>
 	<!-- 加载更过的搜索结果 -->
 	<select id="loadMore" 
 		parameterType="map"
 		resultType="com.tedu.cloudnote.entity.ShareNote">
 		SELECT * FROM cn_share WHERE cn_share_title like #{inValue} limit ${start},${pagesize}
 	</select>
 	<!-- 查询分享笔记的内容和标题 -->
 	<select id="loadShareNoteBody" 
 		parameterType="string"
 		resultType="com.tedu.cloudnote.entity.ShareNote">
 		SELECT cn_share_title, 
 			   cn_share_body
 		 FROM cn_share 
 		 WHERE cn_share_id=#{cn_share_id} 
 	</select>
 </mapper>