<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="com.tedu.cloudnote.dao.UserDao">
 	<select id="findUserByName"
		parameterType="string" 
		resultType="com.tedu.cloudnote.entity.User">
		select 
			*
		from
			cn_user
		where
			cn_user_name = #{name}
	</select>
	<insert id="saveUser"
		parameterType="com.tedu.cloudnote.entity.User">
		INSERT INTO  cn_user(
			cn_user_id,
			cn_user_name,
			cn_user_password,
			cn_user_token,
			cn_user_nick) VALUES (
			#{cn_user_id},
			#{cn_user_name},
			#{cn_user_password},
			#{cn_user_token},
			#{cn_user_nick}
		) 
	</insert>	
	<!-- 验证旧密码是否正确 -->
	<select id="changePwd"
		parameterType="string"
		resultType="com.tedu.cloudnote.entity.User">
		select * from cn_user where cn_user_id=#{cn_user_id}
	</select>
	
	<!-- 修改密码 -->
	<update id="modifyPwd"
		parameterType="map">
		update  cn_user set cn_user_password=#{newPwd} where cn_user_id = #{userId}
	</update>
 </mapper>